APP_NAME=
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/enderecos
VIACEP_BASE_URL=https://viacep.com.br/ws
HTTP_TIMEOUT=5
API_KEY=troque-por-uma-chave-forte
# Usadas pelo serviço db do docker-compose (devem bater com DATABASE_URL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=enderecos
